@font-face {
  font-family: 'Abel';
  src: url('../../public/fonts/Abel-Regular.ttf');
}

@font-face {
  font-family: 'JosefinSans';
  src: url('../../public/fonts/JosefinSans-VariableFont_wght.ttf');
}

@font-face {
  font-family: 'Almarai';
  src: url('../../public/fonts/Almarai-Regular.ttf');
}

@font-face {
  font-family: 'Libre Baskerville';
  src: url('../../public/fonts/LibreBaskerville-Regular.ttf');
}

.font-main {
  font-family: 'Abel';
}

.font-1 {
  font-family: 'Josefin Sans';
}
.font-2 {
  font-family: 'Almarai';
}
.font-3 {
  font-family: 'Libre Baskerville';
}
.font-4 {
  font-family: Arial, Helvetica, sans-serif;
}

.box {
  transform-style: preserve-3d;
  transform: rotateX(-15deg);
  animation: rotate 15s linear infinite;
}

@keyframes rotate {
  to {
    transform: rotateX(-15deg) rotateY(360deg);
  }
}

.face {
  width: 2rem;
  height: 2rem;
  position: absolute;
  background: #ca9864;
  overflow: hidden;
}

.front {
  transform: translateZ(1em);
  background: #ca9864;
}
.back {
  transform: translateZ(-1em);
  background: #ca9864;
}
.left {
  transform: translateX(-1em) rotateY(90deg);
  background: #d8aa77;
}
.right {
  transform: translateX(1em) rotateY(90deg);
  background: #d8aa77;
}
.top {
  transform: translateY(-1em) rotateX(90deg);
  background: #e8bb84;
}
.bottom {
  transform: translateY(-1em) rotateX(90deg);
}

.front span,
.back span,
.top span {
  position: absolute;
  background: #bd8c58;
}

.top span {
  height: 100%;
  width: 5px;
}

.top span:after {
  content: '';
  display: block;
  position: absolute;
  left: 50%;
  height: 100%;
  width: 25px;
  background: black;
}

.box-cover {
  background-image: url('../../public/box2.png');
  background-size: cover;
}

.input-box {
  box-shadow: -15px 7px 10px -4px #4c4c4c, -10px 12px 4px -4px rgba(0, 0, 0, 0.24);
}

.vertical-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

@media screen and (max-width: 600px) {
  nav h1 {
    display: none;
  }
  nav .logo-box {
    left: 10vw;
    top: 5%;
    transform: translateX(0);
  }
  nav {
    background: white;
    width: 100vw;
    height: 10vh;
  }
}
