@font-face {
  font-family: 'Abel';
  src: url('/fonts/Abel-Regular.ttf');
}

@font-face {
  font-family: 'JosefinSans';
  src: url('/fonts/JosefinSans-VariableFont_wght.ttf');
}

@font-face {
  font-family: 'Almarai';
  src: url('/fonts/Almarai-Regular.ttf');
}

@font-face {
  font-family: 'Libre Baskerville';
  src: url('/fonts/LibreBaskerville-Regular.ttf');
}

.font-main {
  font-family: 'Abel';
}

.font-1 {
  font-family: 'Josefin Sans';
}
.font-2 {
  font-family: 'Almarai';
}
.font-3 {
  font-family: 'Libre Baskerville';
}
.font-4 {
  font-family: Arial, Helvetica, sans-serif;
}

.box {
  transform-style: preserve-3d;
  transform: rotateX(-15deg);
  animation: rotate 15s linear infinite;
}

@keyframes rotate {
  to {
    transform: rotateX(-15deg) rotateY(360deg);
  }
}

.face {
  width: 2em;
  height: 2rem;
  position: absolute;
  overflow: hidden;
  border: 1px solid black;
}

.front {
  transform: translateZ(1rem);
}
.back {
  transform: translateZ(-1rem);
}
.left {
  transform: translateX(-1rem) rotateY(90deg);
}
.right {
  transform: translateX(1rem) rotateY(90deg);
}
.top {
  transform: translateY(-1rem) rotateX(90deg);
}
.bottom {
  transform: translateY(-1rem) rotateX(90deg);
}

.front span,
.back span,
.top span {
  position: absolute;
}

.top span {
  height: 100%;
  width: 5px;
}

.top span:after {
  content: '';
  display: block;
  position: absolute;
  left: 50%;
  height: 100%;
  width: 25px;
}

.vertical-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

@media screen and (max-width: 768px) {
  nav h1 {
    display: none;
  }
  nav .logo-box {
    left: 10vw;
    top: 5%;
    transform: translateX(0);
  }
  nav {
    width: 100vw;
    height: 10vh;
  }
}
